
   *, body, a, a:hover {cursor: url("http://www.totallylayouts.com/cursors/random/tiny_cursor.png"), auto }
   
::-webkit-scrollbar {width: 6px; height: 4px; background:{color:background}; }
::-webkit-scrollbar-thumb { background-color: #000000; }
 
#s-m-t-tooltip{
    position:absolute;
    margin-top: 15px;
    z-index:9999;
    background:{color:tooltip background};
    padding:3px;
    border: solid 1px #aeaeae;
}
 
 
 
/*basics*/
blockquote {padding:5px 0 5px 30px;
border-left:1px solid {color:text};
margin-left:30px;
}
 
body {
background:{color:background};
color:{color:text};
font-family: 'Pontano Sans', sans-serif;
font-size: {text:Body Font Size};
text-align:justify;
margin:0;
line-height:16px;}
 
 
a {
color:{color:link};
text-decoration:none;
}
 
a:hover {
text-decoration:underline;}
 
img{opacity:1;
border:none;
text-decoration:none}
 
 
small {
font-size:9px;}
 
big {
font-size:12px;}
 
 
#title {font-size:12px;
line-height:18px;
font-weight:bold;
margin-bottom:10px;
text-transform:uppercase;
text-align:left;}
 
 
/*sidebar*/
#sidebar {text-align:left;
position:fixed;
padding:5px;
margin-left:-250px;
margin-top:250px;
width:200px;
}
 
 
#sidebarim {margin-bottom:20px;
}
 
#sidebarim img {width:200px;
height:100px;
    opacity:1;
-webkit-transition-duration:0.7s;
-moz-transition-duration:0.7s;
-o-transition-duration:0.7s;
}
 
#sidebar:hover #sidebarim img {
    background-color:{color:background};
    opacity:0.6;
    -webkit-transition-duration:0.7s;
-moz-transition-duration:0.7s;
-o-transition-duration:0.7s;
}
 
 
#blogt {font-size: {text:Title Font Size};
color:{color:title};
letter-spacing:3px;
text-align:center;
font-weight:bold;
    -webkit-transition: all 0.7s;
-moz-transition: all 0.7s;
-ms-transition:all 0.7s;
-o-transition: all 0.7s;
transition: all 0.7s;
}
 
#blogt:hover {
letter-spacing:6px;
-webkit-transition: all 0.7s;
-moz-transition: all 0.7s;
-ms-transition:all 0.7s;
-o-transition: all 0.7s;
transition: all 0.7s;
}
 
.otherlinks {
    text-align:center;
    width:200px;
    font-size: {text:links Font Size}
}
 
#links {
    display:none;
width:200px;
margin-top:1px;
margin-bottom:5px;
font-family: 'Lora', serif;
font-size:10px;
letter-spacing:2px;
line-height:100%;
text-align:center;
text-transform:lowercase;
background-color:{color:Background};
}
 
#links a {
display:block;
color:{color:Link};
padding:8px;
margin-bottom:-3px;
background-color:{color:LinkBG};
-webkit-transition:all 0.5s ease-in-out;
-moz-transition:all 0.5s ease-in-out;
-o-transition:all 0.5s ease-in-out;
}
 
#links a:hover {
background-color:{color:link Background hover};
padding-left:20px;
-webkit-transition:all 0.5s ease-in-out;
-moz-transition:all 0.5s ease-in-out;
-o-transition:all 0.5s ease-in-out;
}
 
 
 
 
 
 
#description {
    display:none;
margin:20px 0;
width:200px;
}
 
 
/*pagination*/
#pagination {
margin:50px 0;
text-transform:lowercase;
font-weight:bold;
}
#pagination a {
padding:0 15px;
}
 
/*container*/
#con {
left:50%;
margin-left:-250px;
position:absolute;
 
}
 
 
 
/*posts*/
 
#entries {
margin-top:75px;
 {block:if500pxposts}width:500px;{/block:if500pxposts}
    {block:ifnot500pxposts}width:400px;{/block:ifnot500pxposts}
    {block:IfBlackandWhitePosts}
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition:all 0.5s;
-moz-transition:all 0.5s;
-ms-transition:all 0.5s;
-o-transition:all 0.5s;
transition:all 0.5s;
}
 
#entries:hover {
background-color:transparent;
-webkit-transition:all 0.5s;
-moz-transition:all 0.5s;
-ms-transition:all 0.5s;
-o-transition:all 0.5s;
transition:all 0.5s;
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
filter: grayscale(0%);
{/block:IfBlackandWhitePosts}}
 
 
 
 
#posts {
 {block:if500pxposts}width:500px;{/block:if500pxposts}
    {block:ifnot500pxposts}width:400px;{/block:ifnot500pxposts}
{block:IndexPage}
margin-bottom:75px;
{/block:IndexPage}
{block:PermalinkPage}
margin-bottom:50px;
{/block:PermalinkPage}
padding:15px;
border:1px solid {color:post border};
    background:{color:background};
   -webkit-transition:all 0.7s;
    -moz-transition:all 0.7s;
    -ms-transition:all 0.7s;
    -o-transition:all 0.7s;
    transition:all 0.7s;
}
 
#posts:hover {  border:1px solid {color:background};
    background:{color:post hover background};
    -webkit-transition:all 0.7s;
    -moz-transition:all 0.7s;
    -ms-transition:all 0.7s;
    -o-transition:all 0.7s;
    transition:all 0.7s;}
#posts img {
max-width:400px;
 
}
 
#posts img, #posts li, #posts blockquote {max-width: 100%;}
.caption {width:100%;
padding:1px;
margin-top:10px;
 
}
 

 

 
.popup_block{
    display:none;
    background:#fff;
    padding:20px;
    border:1px solid #eee;  /* if you want a solid white pop-up, delete this */
    float:left;
    text-align:center;
    position:fixed;
    top:50%;left:50%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 20px #000; /* delete for solid white */
    -moz-box-shadow: 0px 0px 20px #000; /* delete for solid white */
    box-shadow: 0px 0px 20px #000; /* delete for solid white */
}
 
*html #fade {position: absolute;}
*html .popup_block {position: absolute;}
#fade {
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:9999;
    background:#000; /* change to #fff for solid white */
    opacity:0.7; /* change to opacity:1; */
} 
